*{
  box-sizing:border-box;
}

body{
font-family: Arial;
background:#f2f2f2;
margin:0;
padding:0;
}

.container{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:20px;
  padding:20px;
  margin-top:20px;
  flex-wrap:wrap;   /* 🔥 IMPORTANT */
}



h1{
color:#333;
}

button{
padding:12px 25px;
background:#007BFF;
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.form-container{
  flex:1;
  min-width:300px;
  max-width:400px;
}



input, textarea{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:4px;
}

.resume{
  flex:1;
  min-width:300px;
  max-width:600px;
}



@media (max-width:768px){

  .container{
    flex-direction: column;   /* 🔥 MAIN FIX */
    align-items: center;
  }

  .form-section{
    width:100%;
    max-width:100%;
  }

  .resume{
    width:100%;
    max-width:100%;
    height:auto;   /* 🔥 IMPORTANT */
  }

}

